In [2]:
import pandas as pd

In [ ]:
readData= pd.read_csv('GlobalLandTemperatures_GlobalLandTemperaturesByState.csv')
Data1= pd.DataFrame(readData)   
Data1

In [ ]:
Data1= Data1.drop(Data1[(Data1.Country != 'India') & (Data1.Country !='Brazil') & (Data1.Country !='United States')].index)
Data1

In [ ]:
Data1['dt']= pd.to_datetime(Data1['dt'])
start_date='1900-01-01'
Data1=Data1.loc[(Data1['dt'] > start_date)]
Data1

In [ ]:
Data1=Data1.dropna()

In [ ]:
Data1.to_csv('New GlobalLand After cleaning.csv')
Data1.isnull().sum()

In [125]:
read_data = pd.read_csv('Data.csv', parse_dates = ["Year"], skiprows=1, index_col = 'Year')
data = pd.DataFrame(read_data ,columns=['Country', 'Population (People)'])

data

                         Country  Population (People)
Year
1960-01-01           Afghanistan            8774440.0
1961-01-01           Afghanistan            8953544.0
1962-01-01           Afghanistan            9141783.0
1963-01-01           Afghanistan            9339507.0
1964-01-01           Afghanistan            9547131.0
...                          ...                  ...
2008-01-01  Bosnia & Herzegovina            3861201.0
2009-01-01  Bosnia & Herzegovina            3853446.0
2010-01-01  Bosnia & Herzegovina            3845929.0
2011-01-01  Bosnia & Herzegovina            3839322.0
2012-01-01  Bosnia & Herzegovina            3833916.0

[9964 rows x 2 columns]

In [152]:

country = ['India', 'Brazil', 'United States']
data1 = data[data.index >= '1990']
filter = data1[data1.Country.isin(country)]
filter
filter.to_csv("SocioEconomicDataCleaned.csv")

In [159]:
read_data = pd.read_csv('CO2Emission.csv', parse_dates = ["Year"], skiprows=1, index_col = 'Year')
data_emission = pd.DataFrame(read_data)
data_emission

                      Country  CO2Emissions
Year
1850-01-01        Afghanistan            NaN
1850-01-01            Albania            NaN
1850-01-01            Algeria            NaN
1850-01-01             Angola            NaN
1850-01-01  Antigua & Barbuda            NaN
...                       ...            ...
2012-01-01            Vietnam       173.0497
2012-01-01              World     33843.0497
2012-01-01              Yemen        20.5386
2012-01-01             Zambia         2.7600
2012-01-01           Zimbabwe         9.9800

[30644 rows x 2 columns]

In [168]:
country = ['India', 'Brazil', 'United States']
data_filter = data_emission[data_emission.index >= '1990']
data_filter
filter_new = data_filter[data_filter.Country.isin(country)]
filter_new
filter_new.to_csv("CO2EmissionCleaned.csv")

In [31]:
df1 = data_records.dropna(subset = data_records.columns[[2]], how = 'any')
df1.reset_index(drop=True, inplace=True)
df1.to_csv("CO2EmissionCleaned.csv")

In [204]:
read_data1 = pd.read_csv('Deforestation_data.csv', parse_dates = ["Year"],index_col = 'Year')
data = pd.DataFrame(read_data1, columns=['Country', 'Deforestration'])
data

                  Country  Deforestration
Year
1900-01-01         Brazil          520027
1901-01-01         Brazil          520027
1902-01-01         Brazil          520027
1903-01-01         Brazil          520027
1904-01-01         Brazil          520027
...                   ...             ...
2008-01-01  United States          268648
2009-01-01  United States          268648
2010-01-01  United States          268648
2011-01-01  United States          268648
2012-01-01  United States          268648

[339 rows x 2 columns]

In [205]:
read_data = pd.read_csv('CO2EmissionCleaned.csv', parse_dates = ["Year"], index_col = 'Year')
read_seconddata= pd.read_csv('SocioEconomicDataCleaned.csv', parse_dates = ["Year"], index_col = 'Year')
read_thirddata= pd.read_csv('Deforestation_data.csv', parse_dates = ["Year"], index_col = 'Year')
df1 = pd.DataFrame(read_data)
df2= pd.DataFrame(read_seconddata)
df3= pd.DataFrame(read_thirddata)
result = pd.merge(df1, df2, on = ['Year', 'Country'], how = 'inner')
result1 = pd.merge(result, df3, on = ['Year', 'Country'], how = 'inner')
result1

                  Country  CO2Emissions   Population (People)  Deforestration
Year
1990-01-01         Brazil       207.9560         1.496483e+08          520027
1990-01-01          India       614.9176         8.688907e+08           63939
1990-01-01  United States      4912.6814         2.496230e+08          298648
1991-01-01         Brazil       214.9880         1.521535e+08          520027
1991-01-01          India       658.4543         8.863487e+08           63939
...                   ...            ...                  ...             ...
2011-01-01          India      1950.0610         1.221156e+09           27701
2011-01-01  United States      5334.3187         3.115826e+08          268648
2012-01-01         Brazil       477.7701         1.986560e+08          417698
2012-01-01          India      2075.1808         1.236687e+09           27701
2012-01-01  United States      5122.9094         3.138737e+08          268648

[69 rows x 4 columns]

In [209]:
result1.to_csv('result.csv')

In [1]:
result1

NameError: name 'result1' is not defined